body {
    background-color: grey;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh; /* Ensure the body takes up the entire viewport height */
}

.formContainer {
    /* Your existing CSS for .formContainer */
    display: flex;
    justify-content: center;
}

.buttonContainer{
    display: flex;
    justify-content: center;
}